# PingCode API 配置
PINGCODE_API_ROOT=https://open.pingcode.com
PINGCODE_AUTH_MODE=client

# 客户端凭证模式
PINGCODE_CLIENT_ID=
PINGCODE_CLIENT_SECRET=

# 授权码模式
PINGCODE_USER_CLIENT_ID=
PINGCODE_USER_CLIENT_SECRET=

# 可选配置
PINGCODE_ORG_ID=
PINGCODE_PRODUCT_ID=
